@model BlaBlaBusMVC.Models.Bus

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы уверены что хотите удалить этот автобус?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Номер:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.Label("Кол-во мест:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesCount)
        </dd>

        <dt>
            @Html.Label("Дружественное имя:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendlyName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
